/*小说列表*/
.finctionBox
	{	border: 1px solid #CCCCCC;
		padding: 20px 20px 0;
		margin: 40px;
		display: flex;	
		justify-content: space-between;
		align-content: center;
		flex-wrap: wrap;	}
/*图文信息*/
.finctionBox article
	{	width: 500px;
		height: 130px;
		display: flex;
		margin-bottom: 20px;	}
/*小说图片*/
.finctionImg
	{	widows: 100px;
		height: 130px;
		box-shadow: 0 3px 4px rgb(0, 0, 0, .5);	}
.finctionImg img
	{	width: 100px;
		height: 130px;	}
/*全部文字信息*/
.finctionInfo
	{	height: 140px;
		margin-left: 15px;
		overflow: hidden;	}
/*小说标题*/
.finctionInfo h3
	{	margin-top: 5px;	}
/*小说内容介绍*/
.finctionTip span
	{	margin: 0 8px;
		line-height: 35px;	}